.block {
  display: block;
  background: #f7f7f9;
  border: #E1E1E8 solid 1px;
  border-radius: 4px;
}
.blockBlue {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
.blockBlueActive {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
.blockBlueActive:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
.blockBlueActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blockRed {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.blockRedActive {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.blockRedActive:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
.blockRedActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blockGreen {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: white;
  border-radius: 4px;
}
.blockGreenActive {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: white;
  border-radius: 4px;
}
.blockGreenActive:hover {
  background: -webkit-linear-gradient(top, #3d9400, #368200);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.blockGreenActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blockHighlight {
  background: #e0eff6;
  border-radius: 4px;
  border: #eff2f9 solid 1px;
}
.blockGray {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  color: #999;
  border: #C6C6C6 solid 1px;
  border-radius: 4px;
}
.blockGrayActive {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  color: #999;
  border: #C6C6C6 solid 1px;
  border-radius: 4px;
}
.blockGrayActive:hover {
  background: -webkit-linear-gradient(top, #ffffff, #ececec);
  border: #bbb solid 1px;
}
.blockGrayActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 4px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
}
.fade.in {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  display: none;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: #3079ED solid 1px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 3px;
  border: #3079ED solid 1px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
}
::-webkit-scrollbar-corner {
  display: none;
}
.itemToggle {
  margin: 0 0 0 5px;
  display: inline-block;
}
.itemToggle input[type="checkbox"] {
  display: none;
}
.itemToggle input[type="checkbox"] + label {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  padding: 4px;
  height: 17px;
  margin: 0;
  line-height: 17px;
}
.itemToggle input[type="checkbox"] + label:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
.itemToggle input[type="checkbox"] + label:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemToggle input[type="checkbox"]:checked + label {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  padding: 4px;
  height: 17px;
  margin: 0;
  line-height: 17px;
}
.itemToggle input[type="checkbox"]:checked + label:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
.itemToggle input[type="checkbox"]:checked + label:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemButton {
  margin: 0 0 0 5px;
  display: inline-block;
}
.itemButton button,
.itemButton input[type="button"] {
  display: block;
  padding: 4px;
  height: 27px;
  line-height: 17px;
}
.itemButton button.blue,
.itemButton input[type="button"].blue {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
.itemButton button.blue:hover,
.itemButton input[type="button"].blue:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
.itemButton button.blue:active,
.itemButton input[type="button"].blue:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemButton button.red,
.itemButton input[type="button"].red {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.itemButton button.red:hover,
.itemButton input[type="button"].red:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
.itemButton button.red:active,
.itemButton input[type="button"].red:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemButton button.green,
.itemButton input[type="button"].green {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: white;
  border-radius: 4px;
}
.itemButton button.green:hover,
.itemButton input[type="button"].green:hover {
  background: -webkit-linear-gradient(top, #3d9400, #368200);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.itemButton button.green:active,
.itemButton input[type="button"].green:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemButton button.gray,
.itemButton input[type="button"].gray {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  color: #999;
  border: #C6C6C6 solid 1px;
  border-radius: 4px;
}
.itemButton button.gray:hover,
.itemButton input[type="button"].gray:hover {
  background: -webkit-linear-gradient(top, #ffffff, #ececec);
  border: #bbb solid 1px;
}
.itemButton button.gray:active,
.itemButton input[type="button"].gray:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.itemInput {
  margin: 0 0 20px 0;
}
.itemInput input[type="text"],
.itemInput input[type="number"],
.itemInput input[type="email"],
.itemInput input[type="url"],
.itemInput input[type="file"] {
  background: #f7f7f9;
  border: #E1E1E8 solid 1px;
  border-radius: 4px;
  height: 30px;
  background: white;
  display: block;
  width: 203px;
  height: 17px;
  padding: 4px 3px;
  font-size: 12px;
  line-height: 17px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
}
.itemInput input[type="text"].ng-valid.ng-pristine:focus,
.itemInput input[type="number"].ng-valid.ng-pristine:focus,
.itemInput input[type="email"].ng-valid.ng-pristine:focus,
.itemInput input[type="url"].ng-valid.ng-pristine:focus,
.itemInput input[type="file"].ng-valid.ng-pristine:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.itemInput input[type="text"].ng-valid.ng-dirty:focus,
.itemInput input[type="number"].ng-valid.ng-dirty:focus,
.itemInput input[type="email"].ng-valid.ng-dirty:focus,
.itemInput input[type="url"].ng-valid.ng-dirty:focus,
.itemInput input[type="file"].ng-valid.ng-dirty:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.itemInput input[type="text"].ng-invalid.ng-dirty,
.itemInput input[type="number"].ng-invalid.ng-dirty,
.itemInput input[type="email"].ng-invalid.ng-dirty,
.itemInput input[type="url"].ng-invalid.ng-dirty,
.itemInput input[type="file"].ng-invalid.ng-dirty {
  border: #f8b9b7 solid 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f8b9b7;
}
.itemInput textarea {
  background: #f7f7f9;
  border: #E1E1E8 solid 1px;
  border-radius: 4px;
  resize: none;
  background: white;
  display: block;
  width: 500px;
  height: 203px;
  padding: 4px 3px;
  font-size: 12px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
}
.itemInput textarea.ng-valid.ng-pristine:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.itemInput textarea.ng-valid.ng-dirty:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.itemInput textarea.ng-invalid.ng-dirty {
  border: #f8b9b7 solid 1px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #f8b9b7;
}
.progress {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  color: #999;
  border: #C6C6C6 solid 1px;
  border-radius: 4px;
  display: block;
  position: relative;
  height: 20px;
}
.progress .cancel {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f8f8f8, #ececec);
  color: #999;
  border: #C6C6C6 solid 1px;
  border-radius: 4px;
  position: absolute;
  top: -27px;
  left: 0;
  z-index: 2;
  padding: 4px;
}
.progress .cancel:hover {
  background: -webkit-linear-gradient(top, #ffffff, #ececec);
  border: #bbb solid 1px;
}
.progress .cancel:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.progress > span {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3d9400, #398a00);
  border: 1px solid #29691d;
  color: white;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 20px;
  width: 0px;
  border: transparent solid 0px;
  -webkit-transition: width 0.5s ease;
  overflow: hidden;
  text-align: right;
}
.progress > span span {
  margin: 0 2% 0 0;
  color: white;
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
* {
  outline: none;
  color: #63666a;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
}
html body {
  padding: 0;
  margin: 0;
  font-family: 'open sans', arial, sans-serif;
  font-size: 14px;
  color: #63666a;
}
html body .clr {
  clear: both;
}
html body a {
  color: #48484C;
}
html body #header {
  color: #63666A;
  font-family: 'open sans', arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  height: 72px;
  line-height: 72px;
  padding: 0 25px;
  cursor: default;
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}
html body #mainTitle {
  position: relative;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
  font-family: 'open sans', arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  height: 44px;
  line-height: 44px;
  color: white;
  text-align: right;
  padding: 0 85px 0 27px;
  min-width: 1024px;
}
html body #mainTitle #mainTitleText {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
}
html body #tabs {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}
html body #tabs ul {
  list-style-type: none;
  margin: 0;
  border-radius: 0px;
  height: 25px;
  padding: 0;
  clear: both;
}
html body #tabs ul li {
  width: 100px;
  margin: 0;
  float: left;
  height: 25px;
  text-align: center;
}
html body #tabs ul li a {
  width: 93px;
  line-height: 19px;
  text-decoration: none;
  height: 19px;
  padding: 3px;
  display: block;
  font-size: 13px;
  color: #245DC1;
}
html body #tabs ul li a:hover {
  text-decoration: underline;
}
html body #wrapper {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  clear: both;
  padding: 5px;
}
html body #wrapper .adminPartial {
  border-top: #ccc solid 1px;
  width: 1024px;
  margin: 15px 0 0 0;
  width: 100%;
}
html body #wrapper .adminPartial .sidePanel {
  float: left;
}
html body #wrapper .adminPartial .sidePanel#sidePanel {
  float: left;
  padding: 50px 3px 3px 3px;
  height: 500px;
  font-size: 20px;
  font-weight: 300;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList {
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 200px;
  max-height: 350px;
  width: 210px;
  background: white;
  border-top: #e1e1e8 solid 1px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li {
  margin: 0 0 0 10px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  border-bottom: #e1e1e8 solid 1px;
  background: white;
  -webkit-transition: all 0.3s ease-in;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.ui-animate {
  opacity: 0;
  max-height: 0;
  padding: 0 7px;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:hover {
  background: #e0eff6;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:active {
  -webkit-transition: none;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.selected {
  background: #def;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span {
  display: block;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb {
  width: 20px;
  height: 35px;
  float: left;
  margin: 0 10px 0 0;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb img {
  display: block;
  box-shadow: none;
  margin: 10px auto 0 auto;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemName {
  width: 170px;
  float: left;
  height: 35px;
  text-align: left;
  line-height: 35px;
}
html body #wrapper .adminPartial .sidePanel#sidePanel #itemsListControls {
  border-top: #e1e1e8 solid 1px;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 450px;
  width: 210px;
  background: white;
  border-top: #E1E1E8 solid 1px;
  list-style-type: none;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li {
  margin: 0 0 0 10px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  border-bottom: #E1E1E8 solid 1px;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li:hover {
  background: #e0eff6;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li.selected {
  background: #def;
}
html body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li a {
  text-decoration: none;
  width: 170px;
  height: 35px;
  text-align: left;
  line-height: 35px;
}
html body #wrapper .adminPartial .sidePanel #itemPanel {
  opacity: 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: #f7f7f9;
  float: left;
  width: 785px;
  padding: 49px 10px 10px 10px;
  margin: 0 0 0 1%;
  border: #eff2f9 solid 1px;
  border-top: none;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #ffffff;
  position: relative;
}
html body #wrapper .adminPartial .sidePanel #itemPanel.display_Open {
  -webkit-transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
html body #wrapper .adminPartial .sidePanel #itemPanel.display_Closed {
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 0px 10px 0px 10px;
  height: 0px;
  overflow: hidden;
}
html body #wrapper .adminPartial .sidePanel #itemPanel #itemClose {
  width: 60px;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
html body #wrapper .adminPartial .sidePanel #itemPanel #itemClose:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
html body #wrapper .adminPartial .sidePanel #itemPanel #itemClose:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemControls {
  margin: 30px 0 0 0;
  border-top: #eff2f9 solid 1px;
  padding: 20px 0 0 0;
  text-align: right;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemHeader {
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  display: block;
  margin: 0;
  height: 17px;
  padding: 4px;
  line-height: 17px;
  font-size: 12px;
  text-shadow: none;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo {
  padding: 25px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoImage {
  width: 100px;
  float: left;
  height: 100px;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoDetails {
  float: left;
  width: 585px;
  margin: 0 0 0 25px;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .key {
  width: 200px;
  height: 27px;
  line-height: 27px;
  float: left;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .value {
  width: 385px;
  min-height: 27px;
  line-height: 27px;
  float: left;
}
html body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .value img.image_small {
  width: 100px;
  height: 100px;
}
