.block {
  display: block;
  background: #f7f7f9;
  border: #E1E1E8 solid 1px;
  border-radius: 4px;
}
.blockBlue {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
.blockBlueActive {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
.blockBlueActive:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
.blockBlueActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blockRed {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.blockRedActive {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.blockRedActive:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
.blockRedActive:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
.blockHighlight {
  background: #e0eff6;
  border-radius: 4px;
  border: #eff2f9 solid 1px;
}
.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.top {
  margin-top: -3px;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right {
  margin-left: 3px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.bottom {
  margin-top: 3px;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.left {
  margin-left: -3px;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip-inner {
  max-width: 200px;
  padding: 4px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
}
.fade.in {
  opacity: 1;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  display: none;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: #3079ED solid 1px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
}
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 3px;
  border: #3079ED solid 1px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
}
::-webkit-scrollbar-corner {
  display: none;
}
* {
  outline: none;
  color: #63666a;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'open sans', arial, sans-serif;
  font-size: 14px;
  color: #63666a;
}
html .clr,
body .clr {
  clear: both;
}
html a,
body a {
  color: #48484C;
}
html #header,
body #header {
  color: #63666A;
  font-family: 'open sans', arial, sans-serif;
  font-size: 32px;
  font-weight: 300;
  height: 72px;
  line-height: 72px;
  padding: 0 25px;
  cursor: default;
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}
html #mainTitle,
body #mainTitle {
  position: relative;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4e78c2), to(#325da7));
  font-family: 'open sans', arial, sans-serif;
  font-size: 25px;
  font-weight: 300;
  font-style: italic;
  height: 44px;
  line-height: 44px;
  color: white;
  text-align: right;
  padding: 0 85px 0 27px;
  min-width: 1024px;
}
html #mainTitle #mainTitleText,
body #mainTitle #mainTitleText {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  color: white;
}
html #tabs,
body #tabs {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
}
html #tabs ul,
body #tabs ul {
  list-style-type: none;
  margin: 0;
  border-radius: 0px;
  height: 25px;
  padding: 0;
  clear: both;
}
html #tabs ul li,
body #tabs ul li {
  width: 100px;
  margin: 0;
  float: left;
  height: 25px;
  text-align: center;
}
html #tabs ul li a,
body #tabs ul li a {
  width: 93px;
  line-height: 19px;
  text-decoration: none;
  height: 19px;
  padding: 3px;
  display: block;
  font-size: 13px;
  color: #245DC1;
}
html #tabs ul li a:hover,
body #tabs ul li a:hover {
  text-decoration: underline;
}
html #wrapper,
body #wrapper {
  min-width: 1024px;
  max-width: 1280px;
  margin: 0 auto;
  clear: both;
  padding: 5px;
}
html #wrapper .adminPartial,
body #wrapper .adminPartial {
  border-top: #ccc solid 1px;
  width: 1024px;
  margin: 15px 0 0 0;
  width: 100%;
}
html #wrapper .adminPartial .sidePanel,
body #wrapper .adminPartial .sidePanel {
  float: left;
}
html #wrapper .adminPartial .sidePanel#sidePanel,
body #wrapper .adminPartial .sidePanel#sidePanel {
  float: left;
  padding: 50px 3px 3px 3px;
  height: 500px;
  font-size: 20px;
  font-weight: 300;
}
html #wrapper .adminPartial .sidePanel#sidePanel #itemSearch,
body #wrapper .adminPartial .sidePanel#sidePanel #itemSearch {
  height: 30px;
  margin: 0 0 20px 0;
}
html #wrapper .adminPartial .sidePanel#sidePanel #itemSearch input[type="text"],
body #wrapper .adminPartial .sidePanel#sidePanel #itemSearch input[type="text"] {
  background: #f7f7f9;
  border: #E1E1E8 solid 1px;
  border-radius: 4px;
  background: white;
  display: block;
  width: 203px;
  height: 17px;
  padding: 4px 3px;
  font-size: 12px;
  line-height: 17px;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
}
html #wrapper .adminPartial .sidePanel#sidePanel #itemSearch input[type="text"]:focus,
body #wrapper .adminPartial .sidePanel#sidePanel #itemSearch input[type="text"]:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList {
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-height: 200px;
  max-height: 400px;
  width: 210px;
  background: white;
  border-top: #E1E1E8 solid 1px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li {
  margin: 0 0 0 10px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  border-bottom: #E1E1E8 solid 1px;
  background: white;
  -webkit-transition: all 0.3s ease;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.ui-animate,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.ui-animate {
  opacity: 0;
  max-height: 0;
  padding: 0 7px;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:hover,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:hover {
  background: #e0eff6;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:active,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li:active {
  -webkit-transition: none;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.selected,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li.selected {
  background: #def;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span {
  display: block;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb {
  width: 20px;
  height: 35px;
  float: left;
  margin: 0 10px 0 0;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb img,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemThumb img {
  display: block;
  box-shadow: none;
  margin: 10px auto 0 auto;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemName,
body #wrapper .adminPartial .sidePanel#sidePanel ul#itemsList li span.itemName {
  width: 170px;
  float: left;
  height: 35px;
  text-align: left;
  line-height: 35px;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#menuList,
body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList {
  font-size: 14px;
  margin: 0;
  padding: 0;
  height: 450px;
  width: 210px;
  background: white;
  border-top: #E1E1E8 solid 1px;
  list-style-type: none;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li,
body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li {
  margin: 0 0 0 10px;
  height: 35px;
  width: 200px;
  cursor: pointer;
  border-bottom: #E1E1E8 solid 1px;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li:hover,
body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li:hover {
  background: #e0eff6;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li.selected,
body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li.selected {
  background: #def;
}
html #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li a,
body #wrapper .adminPartial .sidePanel#sidePanel ul#menuList li a {
  text-decoration: none;
  width: 170px;
  height: 35px;
  text-align: left;
  line-height: 35px;
}
html #wrapper .adminPartial .sidePanel #itemPanel,
body #wrapper .adminPartial .sidePanel #itemPanel {
  opacity: 0;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  background: #f7f7f9;
  float: left;
  width: 785px;
  padding: 49px 10px 10px 10px;
  margin: 0 0 0 1%;
  border: #eff2f9 solid 1px;
  border-top: none;
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px #ffffff;
  position: relative;
}
html #wrapper .adminPartial .sidePanel #itemPanel.display_Open,
body #wrapper .adminPartial .sidePanel #itemPanel.display_Open {
  -webkit-transition: all 0.3s ease;
  opacity: 1;
  visibility: visible;
}
html #wrapper .adminPartial .sidePanel #itemPanel.display_Closed,
body #wrapper .adminPartial .sidePanel #itemPanel.display_Closed {
  -webkit-transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  padding: 49px 10px 10px 0px;
}
html #wrapper .adminPartial .sidePanel #itemPanel #itemClose,
body #wrapper .adminPartial .sidePanel #itemPanel #itemClose {
  width: 60px;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  position: absolute;
  top: 0px;
  right: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
html #wrapper .adminPartial .sidePanel #itemPanel #itemClose:hover,
body #wrapper .adminPartial .sidePanel #itemPanel #itemClose:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
html #wrapper .adminPartial .sidePanel #itemPanel #itemClose:active,
body #wrapper .adminPartial .sidePanel #itemPanel #itemClose:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls {
  margin: 30px 0 0 0;
  border-top: #eff2f9 solid 1px;
  padding: 20px 0 0 0;
  text-align: right;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle {
  display: inline-block;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"],
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] {
  display: none;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  padding: 4px;
  height: 17px;
  margin: 0;
  line-height: 17px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label:hover,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label:active,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"] + label:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  padding: 4px;
  height: 17px;
  margin: 0;
  line-height: 17px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label:hover,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label:active,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemToggle input[type="checkbox"]:checked + label:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton {
  margin: 0 0 0 5px;
  display: inline-block;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button {
  display: inline-block;
  padding: 4px;
  height: 27px;
  line-height: 17px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue {
  font-size: 12px;
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue:hover,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue:active,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.blue:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red {
  font-size: 12px;
  display: inline-block;
  background: -webkit-linear-gradient(top, #dd4b39, #d14836);
  border: #b0281a solid 1px;
  border-radius: 4px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red:hover,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #dd4b39, #c53727);
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red:active,
body #wrapper .adminPartial .sidePanel #itemPanel .itemControls .itemButton button.red:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel #itemHeader,
body #wrapper .adminPartial .sidePanel #itemPanel #itemHeader {
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  display: block;
  margin: 0;
  height: 17px;
  padding: 4px;
  line-height: 17px;
  font-size: 12px;
  text-shadow: none;
}
html #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default,
body #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default {
  display: inline-block;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  border: #3079ed solid 1px;
  border-radius: 4px;
  color: white;
  display: block;
  text-shadow: none;
  padding: 4px 4px 4px 34px;
  height: 17px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 300;
}
html #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default:hover,
body #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default:hover {
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: -webkit-linear-gradient(top, #4d90fe, #357ae8);
}
html #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default:active,
body #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-header.ui-state-default:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}
html #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-content,
body #wrapper .adminPartial .sidePanel #itemPanel .ui-accordion-content {
  background: transparent;
  border: none;
  padding: 25px;
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemInfo,
body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo {
  font-family: 'open sans', arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoImage,
body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoImage {
  width: 100px;
  float: left;
  height: 100px;
  padding: 25px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoDetails,
body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo #itemInfoDetails {
  float: left;
  width: 585px;
  height: 100px;
  padding: 25px;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .key,
body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .key {
  width: 200px;
  height: 20px;
  line-height: 20px;
  float: left;
}
html #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .value,
body #wrapper .adminPartial .sidePanel #itemPanel .itemInfo .value {
  width: 385px;
  min-height: 20px;
  line-height: 20px;
  float: left;
}
